# Local API configuration only. Copy to .env and change values as appropriate.
PORT=3000
DATABASE_URL=postgresql://tucarton:tucarton_local_development_only@localhost:5432/tucarton
LOCAL_SESSION_SECRET=replace_with_a_long_random_production_secret
AUTH0_ISSUER_URL=https://dev-cwpsbs7tbid3scpa.us.auth0.com/
AUTH0_AUDIENCE=https://api.tucarton.local
AUTH0_AUTHORIZED_PARTY=wA3kOsMS3icJaCxn1ajjWXVjKzAIuIUM
